body,html,h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd,input,button,p,ol{
	margin: 0;
	padding: 0;
}
body{
	font-size: 12px;
	color: #666;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
	font-size: 14px;
}
ul,ol{
	list-style: none;
}
img{
	display: block;
}

.l{
	float: left;
}
.r{
	float: right;
}
.clear{
	clear: both;
}
.clearfix:after{
	content: "";
	width: 0;
	height: 0;
	display: block;
	clear: both;
	visibility: hidden;
}
.hid{
	overflow: hidden;
}
.rel{
	position: relative;
}
.abs{
	position: absolute;
}
.fix{
	position: fixed;
}
.hidden{
	display: none;
}
.show{
	display: block;
}