.swiper-big img{
	width: 100%;
	height: 500px;
}
.swiper-pagination .swiper-pagination-bullet{
	width: 30px;
	height: 30px;
	line-height: 30px;
	margin-left: 5px;
	color: white;
	background: #86685e;
	opacity: 0.8;
}
.swiper-pagination .swiper-pagination-bullet-active{
	background: #D3161B;
}
.swiper-container{
	position: relative;
	margin-bottom: 10px;
}     
.swiper-wrapper img{
	cursor: pointer;
	display: block;
	border: 0px;
}
.swiper-big img{
	transition-duration: 2s;
}
.swiper-big img:hover{
	transform: scale(1.03);
}

.swiper-mask{
	position: absolute;
	width: 108px;
	height: 475px;
	background: rgba(0,0,0,0.5);
	top: 11px;
	right: 105px;
	z-index: 1;
}
.swiper-mask a{
	color: white;
	display: block;
	line-height: 33px;
	text-align: center;
	font-size: 11px;
}
.swiper-mask .mask-top{
	margin-top: 33px;
	width: 100px;
	height: 133px;
	border-bottom: 1px dashed #747474;
	margin-left: 4px;
}
.swiper-mask .mask-top a:nth-of-type(1):hover{
	color: #ed1c24;
}
.swiper-mask .mask-top a span{
	text-align: center;
	display: block;
	width: 60px;
	height: 23px;
	line-height: 23px;
	border-radius: 10px;
	margin: 5px auto; 
}
.swiper-mask .mask-top a span:hover{
	background: #d3161b;
}
.swiper-mask .mask-bottom{
	margin-top: 5px;
}
.swiper-mask .mask-bottom a{
	line-height: 40px;
}
.swiper-mask .mask-bottom a:hover{
	color: #ed1c24;
}


.day-left{
	float: left;
	width: 200px;
	height: 370px;
	border: 1px solid #e7e7e7;
	border-top: 2px solid #73584a;
}
.day-left-bot{
	width: 200px;
	height: 163px;
	float: left;
}
.day-btn{
	overflow: hidden;
	margin-bottom: 12px;
}
.day-btn button{
	outline: none;
	float: left;
	border: 1px solid #bfb7aa;
	background: #e0dbd8;
	height: 30px;
	width: 66px;
	color: #5c483d;
}
.day-btn button.active{
	background: white;
}
.day-show p{
	height: 131px;
	background: white;
	text-align: center;
	color: #888888;
	display: none;
}
.day-show p a{
	display: block;
	float: left;
	line-height: 24px;
	margin-left: 10px;
}
.day-show p a:hover{
	text-decoration: underline;
}
.day-show p.active{
	display: block;
}
.day-right{
	float: right;
	width: 990px;
	height: 375px;
	margin-left: 8px;
}
.day-btns{
	width: 990px;
	height: 60px;
	border-bottom: 2px solid #d3161b;
	margin-bottom: 10px;
}
.a-btn{
	float: left;
	height: 60px;
	width: 197px;
	background: #ffe8e8;
	margin-right: 1px;
	cursor: pointer;
}
.a-btn h1{
	font-size: 21px;
	margin-left: 19px;
	color: #73584a;
	font-weight: bold;
	line-height: 40px;
}
.a-btn h3{
	font-size: 12px;
	margin-left: 19px;
	color: #73584a;
}
.a-btn:hover{
	background: #d3161b;
}
.floor_ctrl .a-btn:nth-of-type(1){
	background: #d3161b;
}
.a-btn:nth-of-type(1) h1{
	color: white;
}
.a-btn:nth-of-type(1) h3{
	color: white;
}
.a-btn:hover h1{
	color: white;
}
.a-btn:hover h3{
	color: white;
}
.daojishi{
	width: 990px;
	height: 310px;
	overflow: hidden;
}
.djsshangpin{
	width: 180px;
	border: 2px solid #e5e5e5;
	margin-left: 8px;
	margin-bottom: 2px;
	margin-top: 2px;
	float: left;
}
.floor-5ge{
	margin-left: 14px;
}
.floor-5ge:hover{
	margin-left: 10px;
	margin-top: 0px;
}
.rqqg-top{
	height: 25px;
	background-color: #f8f8f5;
}
.rqqg-bot{
	height: 75px;
	background-color: #f8f8f5;
}
.rqqg{
	height: 200px;
	overflow: hidden;
}
.most-show{
	border: 1px solid;
}
.most-show:hover{
	border: 1px solid #666666;
}
.rqqg img{
	margin: 0 auto;
	margin-top: 13px;
}
.leixing{
	margin-top: 8px;
}
.leixing-top h1{
	width: 120px;
	height: 30px;
	line-height: 30px;
	padding: 0px 15px;
	border-left: 6px solid #d3161b;
	font-size: 23px;
	color: #333333;
	float: left;
}

.leixing-topright{
	float: right;
}
.leixing-topright a{
	float: left;
	display: block;
	height: 20px;
	line-height: 20px;
	text-align: center;
	padding: 0px 20px;
	border-right: 1px solid #000000;
}
.leixing-topright a:nth-last-of-type(1){
	border-right: 0px;
}
.quanbuputaojiu{
	float: right;
}
.quanbuputaojiu span{
	float: left;
	width: 20px;
	height: 20px;
	line-height: 20px;
	display: inline-block;
	text-align: center;
	color: white;
	background: #624b40;
}
.quanbuputaojiu a{
	display: inline-block;
	width: 80px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: white;
	background: #73584a;
}
.leixing-middle{
	border-top: 2px solid #c53f4c;
}
.leixing-middleleft{
	float: left;
	width: 200px;
	height: 250px;
	border: 1px solid #e7e7e7;
	margin-top: 2px;
}
.leixing-middleleft img{
	float: left;
	width: 100px;
	height: 49px;
	border-bottom: 1px solid #c0ac98;
}
.swiper-small1{
	float: left;
	width: 760px;
	height: 250px;
}
.leixing-middleswiper{
	float: left;
	width: 760px;
	margin-right: 3px;
}
.leixing-right{
	overflow: hidden;
	height: 250px;
	width: 233px;
	float: right;
}
.xingjiabi-lefttop{
	width: 940px;
	height: 30px;
	line-height: 30px;
	margin-left: 10px;
	margin-top: 10px;
	border-bottom: 1px solid #d2d2ce;
}
.xingjiabi-lefttop span{
	float: left;
	color: #715b71;
}
.xingjiabi-lefttop a{
	float: right;
	color: #715b71;
}
.most-show{
	border: 1px solid #FFFFFF;
	float: left;
	margin-top: 8px;
}
.xingjiabi-leftbot{
	width: 950px;
}
.xingjiabi{
	position: relative;
	padding-bottom: 18px;
	border-bottom: 1px solid #d2d2ce;
}
.xingjiabi-right{
	width: 240px;
	height: 722px;
	background: pink;
	position: absolute;
	top: -14px;
	left: 960px;
	background: #f4f4f0;
	margin-left: 2px;
}
.xingjiabi-righttop{
	height: 44px;
	border-bottom: 1px solid #dddddd;
}
.right-li{
	position: relative;
	line-height: 20px;
}
.right-li em{
	position: absolute;
    top: 12px;
    left: 5px;
    z-index: 10;
    display: block;
    padding-right: 4px;
    width: 20px;
    height: 20px;
    background-position: -85px -70px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    font-family: Arial;
    line-height: 20px;
    background: url(../img/zhuye_img/sprite.png) no-repeat -60px -70px;
}
.right-li div{
	width: 80px;
	height: 100px;
	position: absolute;
	top: 10px;
	left: 5px;
	padding: 6px 10px;
	width: 60px;
	height: 98px;
	background: white;
}
.right-ligood-name{
	display: block;
	width: 140px;
	padding-top: 16px;
	/*height: 30px;*/
	margin-left: 100px;
	color: #333333;
}
.right-li span{
	display: block;
	margin-left: 100px;
}
.right-li span:nth-of-type(2){
	font-size: 15px;
	color: #c53f56;
}
#yangjiu-right{
	height: 590px;
	top: -260px;
}
.old-value{
	display: block;
	border: 0px;
	margin-top: 10px;
}
.like{
	margin-top: 20px;
	border-bottom: 2px solid #e54247;
}
.like-left{
	float: left;
	height: 372px;
	width: 299px;
	border: 1px solid #e7e7e7;
}
.like-right{
	float: right;
	width: 896px;
	height: 372px;
}
.like-show{
	float: left;
	height: 185px;
	width: 297px;
	border-bottom: 1px solid #e7e7e7;
	border-right: 1px solid #e7e7e7;
}
.like span{
	line-height: 30px;
}
.like a{
	float: right;
	margin-right: 10px;
	line-height: 30px;
}
.need-buy{
	height: 650px;
	width: 328px;
	float: left;
	border: 1px solid #dcdcdc;
	border-top: none;
	margin-right: 9px;
}
.need-buytop{
	display: block;
	height: 40px;
	line-height: 40px;
	text-indent: 50px;
	background: #fbc85b;
	color: white;
	font-size: 23px;
}
.need-buymid{
	height: 437px;
}
.need-buybot span{
	display: block;
	height: 48px;
	line-height: 48px;
	padding-left: 37px;
	border-bottom: dashed #dcdcdc;
	border-top: 1px solid #dcdcdc;
	background: #f4f4f4;
	color: #000000;
	font-size: 23px;
}
.need-buybot a{
	display: block;
	line-height: 27px;
}
.good-goods{
	width: 528px;
	float: left;
	height: 650px;
	border: 1px solid #dcdcdc;
	border-top: none;
	margin-right: 9px;
}
.good-goodstop{
	display: block;
	height: 40px;
	line-height: 40px;
	text-indent: 50px;
	background: #a7e1f6;
	color: white;
	font-size: 23px;
}
.fengexian{
	display: block;
	border-bottom: 1px dashed #DCDCDC;
}
.a-good{
	height: 295px;
}
.week-star{
	width: 318px;
	float: left;
	height: 650px;
	border: 1px solid #dcdcdc;
	border-top: none;
}
.the-week{
	display: block;
	height: 40px;
	line-height: 40px;
	text-indent: 50px;
	background: #e9aeba;
	color: white;
	font-size: 23px;
}
.the-star{
	width: 290px;
	height: 90px;
	margin: 0 auto;
	border-bottom: 1px dashed #DCDCDC;
}
.star-good{
	height: 286px;
	border: 1px solid #DCDCDC;
}
.star-reason{
	height: 47px;
	background: #F4F4F4;
}
.the-reason{
	width: 307px;
	border-top: 1px dashed #DCDCDC;
	margin: 0 auto;
}
.tese h1{
	width: 140px;
}
.tese-imgs .tese-imgbox{
	float: left;
}
.tese-imgs .tese-imgbox:nth-of-type(1){
	margin-right: 6px;
}
.tese-imgs .tese-imgbox:nth-of-type(2){
	margin: 0px 10px 10px 0px;
}
.tese-imgs .tese-imgbox:nth-of-type(3){
	margin-bottom: 10px;
}
.tese-imgs .tese-imgbox:nth-of-type(4){
	margin-right: 10px;
}
.shoufengqin{
	height: 250px;
	border: 1px solid #DCDCDC;
}
.shoufengqin{
	width: 1200px;
	overflow: hidden;
}
.shoufengqin ul{
	width: 1300px;
	overflow: hidden;
}
.shoufengqin ul li{
	float: left;
	width: 150px;
	overflow: hidden;
	height: 250px;
	position: relative;
}
.shoufengqin ul li:nth-last-of-type(1){
	width: 450px;
}		
.shoufengqin ul li img{
	position: absolute;
	top: 0;
}
.brand-5{
	height: 130px;
	border: 1px solid #ebebe8;
	border-top: none;
}
.a-brand{
	float: left;
	width: 238px;
	border-right: 1px solid #ebebe8;
}
.brand-5 .a-brand:nth-last-of-type(1){
	border: 0px;
}
.a-brand div{
	float: left;
	width: 220px;
	height: 110px;
	position: relative;
	margin-top: 10px;
	margin-left: 10px;
	overflow: hidden;
}
.a-brand div img{
	display: block;
	border: 0;
	position: absolute;
}
.judge{
	width: 950px;
}
.judge-goods{
	width: 950px;
	overflow: hidden;
	float: left;
}
.long-line{
	width: 9828px;
}
.a-judge{
	width: 316px;
	height: 210px;
	border-right: 1px solid #ebebe8;
	border-top: 1px solid #ebebe8;
	float: left;
}
.jingpintuijian{
	float: right;
	width: 240px;
	height: 34px;
	line-height: 34px;
	background: #f8f8f5;
	border-bottom: 1px solid #ebebe8;
	margin-top: -36px;
	font-size: 18px;
	font-weight: bold;
	text-indent: 10px;
}
.tuijian-img{
	float: right;
}
