@charset "utf-8";
/*
    Project：单品页
    Author:Arron
    Date:2013-09-18
    Modify:2015-10-23
*/
body{background:#fbfaf9;}
#util-floattop{height:1px;}

/*通用背景*/
.act dl dt,.act .act-countdown label,#image_box span,#image_box em,.catalog .aUp,.catalog .aDown,
.temperature .temp-icon,.share .addicon,.sharebox .aRight,.pro-name li .combination,.pro-info .pro-tag span,
.pro-medal .gold,.pro-medal .silver,.pro-medal .copper,.pro-medal .other,.pro-medal .content span,.pro-content .gold-icon,
.pro-content .silver-icon,.pro-content .copper-icon,.m-ratescore,.m-ratescore i,.pro-txt,p.year label ins,.promotionMiddleKeyN ul li a.left,
.promotionMiddleKeyD ul li a.left,.promotionMiddleKeyN ul li a.right, .promotionMiddleKeyD ul li a.right,.promotionMiddleKeyN ul li a.btn-sta-rob,
.promotionMiddleKeyD ul li a.btn-sta-rob,.proDetails h3 a.hover,.proDetails h3 .add-cart,.mod-listname .pro-note .icon,.mod-listname .pro-wine-num .icon
,.pd-recommend-buy h3 a.hover,.promotionMiddleKeyD .act-countdown label,.pro-name li .hover .close,.promotionMiddleCenter li.explain s,
.proComb .add-cart{background:url(images/icon.png) no-repeat;}

/*限时抢购，秒杀，闪购模块*/
.act{padding:3px 10px 3px 3px;width:947px;height:30px;background:#f4f1ec;line-height:30px}
.act dl{float:left;width:700px;height:30px}
.act dl dt{float:left;margin-right:10px;height:30px;text-indent:-999em}
.act dl dd{float:left;margin-right:10px;height:30px;color:#947966;line-height:30px}
.act dl dd em{margin:0 2px;color:#f60;font-weight:bold;font-size:24px;font-family:arial;line-height:30px}
.act dl dt.limit{width:90px;background-position:0 0}
.act dl dt.seckill{width:60px;background-position:-90px 0}
.act dl dt.flash-sale{width:60px;background-position:-150px 0}
.act .act-countdown{float:right;line-height:30px}
.act .act-countdown label{float:left;padding-left:20px;width:30px;height:30px;background-position:-185px -30px;color:#957a67}
.act .act-countdown .countdown{float:left;color:#f60;font:bold 24px/30px 'arial'}
.act .act-countdown .countdown strong{font-weight:normal}
.act .act-countdown .countdown i{margin:0 2px;font-style:normal}
.act .act-countdown .countdown b{margin:0 -5px 0 2px;color:#999;vertical-align:middle;font-weight:normal;font-size:12px}

/*产品模块*/
.promotion{margin-top:10px;width:960px}
.promotionPic{float:left;width:380px}
.promotionMiddle{margin-left:400px;width:560px;_display:inline;_float:right;_margin:0}

/*图片放大镜*/
#pro_infor{float:left;width:380px;height:440px;background:#fff}
#image_box{position:relative;z-index:10;display:block;width:378px;height:438px;border:1px solid #cbcbcb}
#image_box i{position:absolute;top:10px;left:10px;z-index:100;width:43px}
#image_box i.right{right:10px;left:auto}
#image_box i ins{float:left;display:inline;margin-bottom:5px;width:50px;height:45px;background:url(images/new-icon.png?v=20150309) no-repeat;color:#fff;text-align:center;text-decoration:none;font:14px/45px 宋体}
#image_box i ins.jian{background:#0687d8}
#image_box i ins.zeng{background:#e80f08}
#image_box i ins.zhe{background-position:-418px 0}
#image_box i ins.qing{background:#9b8426}
#image_box i ins.mian{background:#d9a106}
#image_box i ins.qiang{background:#f36400}
#image_box i ins.ju{background:#9e042a}
#image_box i ins.miao{background:#5b87b6}
#image_box i ins.xin{background:#6a930f}
#image_box i ins.fu{background:#f16}
#image_box i ins.te{background:#0c0}
#image_box i ins.pai{background:#d90b72}
#image_box i ins.fan{background:#060}
#image_box i ins.huan{background:#a0a05f}
#image_box i ins.baoyou{background-position:-365px 0}
#image_box a{width:378px!important;height:438px!important}
#image_box a img{left:79px!important;display:block;margin:0 auto;padding:39px 0;width:220px;height:360px}
#image_box b{position:absolute;top:10px;left:5px;z-index:100;display:block;overflow:hidden;width:60px;height:70px;background-position:center top;background-repeat:no-repeat;text-indent:-10000px}
#image_box span{position:absolute;display:block;width:30px;height:60px;background-repeat:no-repeat;text-indent:-999em;cursor:pointer}
#image_box span.prev{top:190px;left:5px;z-index:100;background-position:0 -30px}
#image_box span.next{top:190px;right:5px;z-index:100;background-position:-30px -30px}
#image_box span.disabled{display:none}
#image_box em{position:absolute;right:0;bottom:0;width:18px;height:18px;background-position:-60px -30px;background-repeat:no-repeat;text-indent:-999em}
.catalog{position:relative;float:left;margin:10px 0 20px;width:380px;height:70px}
.catalog .aUp,.catalog .aDown{position:absolute;display:block;width:15px;height:50px;background-repeat:no-repeat;cursor:pointer}
.catalog .aUp{top:10px;left:10px;background-position:-78px -30px}
.catalog .aDown{top:10px;right:10px;background-position:-93px -30px}
.catalog .disabled{opacity:0.5;filter:alpha(opacity=50);cursor: no-drop}
.catalog .imgbox1{display:block;overflow:hidden;margin:0 auto;width:310px;height:70px}
.catalog .imgbox1 ul.imgbox{float:left;width:20000em;height:70px}
.catalog .imgbox1 ul.imgbox li{float:left;margin-right:10px;width:68px;height:68px;opacity:0.5;filter:alpha(opacity=50);border:1px solid #e6e1db;background:#fff;cursor:pointer}
.catalog .imgbox1 ul.imgbox li:hover,.catalog .imgbox1 ul.imgbox li.on{opacity:1;filter:alpha(opacity=100)}
.catalog .imgbox1 ul.imgbox li img{display:block;margin:1px auto;width:40px;height:65px}

/*温度模块*/
.temperature{float:left;padding:0 0 15px 75px;width:305px;height:30px;color:#937966;font-size:12px;line-height:30px}
.temperature span{margin:0 10px 0 5px}
.temperature .temp-icon{display:inline-block;padding-left:15px;background-position:-190px -57px}

/*分享模块*/
.share{float:left;padding:0 0 0 60px;width:320px}
.share .addicon{float:left;padding-left:28px;width:45px;height:27px;background-position:-108px -30px;color:#666;text-decoration:none;font-size:12px;line-height:27px}
.share .sharebox{float:left;margin-left:10px;padding-left:10px;width:158px;height:25px;border-color:#ddd;border-style:solid;border-width:1px;background:#fff}
.sharebox h4{float:left;width:50px;color:#333;font-weight:normal;line-height:25px}
.sharebox .showlist{float:left;overflow:hidden;width:88px;height:25px}
#bdshare{width:118px}
.sharebox .aRight{float:left;width:20px;height:25px;background-position:-108px -58px}
.sharebox .aLeft{background-position:-130px -58px}

/*预定信息*/
.predetermine{margin-bottom:20px;width:560px;height:40px}
.predetermine li{float:left;width:140px;height:40px;background:#cabfb3;color:#fff;text-align:center;font-size:14px;line-height:40px}
.predetermine li.on{background:#99846c}

/*组合商品 0307*/
.proComb{border:1px solid #e6e1db;background:#fff}
.proComb h3{display:block;padding-left:10px;height:38px;border-bottom:1px solid #e6e1db;background:#f3f0ed;color:#75473b;line-height:38px}
.proComb .proComb-list{overflow-x:auto;overflow-y:hidden;width:958px;height:204px}
.proComb .proComb-list ul{width:958px}
.proComb ul li{float:left;width:318px}
.proComb .prod-img{float:left;padding:10px}
.proComb ul li p{margin-left:130px;line-height:25px}
.proComb .prod-cn{display:block;overflow:hidden;margin-top:20px;height:50px;color:#333;font-size:14px}
.proComb .prod-price span{display:block}
.proComb .prod-price label{color:#666}
.proComb .prod-price strong{font-weight:normal}
.proComb .prod-price del{color:#999}
.proComb .prod-price .minprice strong{color:#c00}
.proComb .prod-price .saveprice strong{color:#238c00}
.proComb .add-cart{margin:6px 6px 0 0;width:102px;height:26px;border:medium none;background-position:-62px -232px;text-indent:-999em;cursor:pointer}

/*产品信息*/
.promotionMiddleTop{position:relative;z-index:15;margin-bottom:20px;width:560px;border-bottom:1px solid #e6e1db;*padding-bottom:10px}
.pro-name{display:table;margin:0 0 10px 0\9;width:560px;height:auto}
.pro-name li{float:left;overflow:hidden;line-height:20px}
.pro-name li .combination{float:left;margin-right:5px;padding-left:5px;width:35px;height:20px;background-position:0 -90px;color:#fff;cursor:pointer}
.pro-name li .hover{position:absolute;top:20px;left:0;z-index:100;float:left;display:none;width:318px;height:auto;border:1px solid #e6e1db;background:#fff}
.pro-name li .hover .close{position:absolute;top:0;right:0;display:block;width:17px;height:18px;background-position:0 -277px;text-indent:-999em;cursor:pointer}
.pro-name li .hover .zhue{float:left;padding:9px;width:300px;border-bottom:1px dashed #d6cec5}
.pro-name li .hover .zhue .zhue-pic{float:left;overflow:hidden;width:38px;height:38px;border:1px solid #e6e1db}
.pro-name li .hover .zhue .zhue-pic img{display:block;margin:0 auto;height:38px}
.pro-name li .hover .zhue .zhue-right{float:left;margin-left:8px;line-height:18px}
.pro-name li .hover .zhue .zhue-right a{display:block;overflow:hidden;width:242px;height:18px;color:#09c}
.pro-name li .hover .zhue .zhue-right .zhue-price{float:left;margin-right:10px;color:#999}
.pro-name li .hover .zhue .zhue-right .zhue-sales{float:left;color:#999}
.pro-name li h1{display:block;margin-right:10px;color:#000;font-weight:bold;font-size:14px}
.pro-name li span.en{display:block;overflow:hidden;height:20px;color:#999;white-space:nowrap}
.pro-info{display:table;width:560px}
.pro-info li{float:left;width:560px}
.pro-info .pro-key{display:block;overflow:hidden;width:560px;height:auto;color:#d73c3c;font-weight:bold;font-size:14px}
.pro-info .pro-tag{float:left;margin-top:14px}
.pro-info .pro-tag span{float:left;overflow:hidden;margin-right:5px;height:18px;background:0;color:#fff;text-align:center;font:12px/18px Arial}
.pro-info .pro-tag span i{float:left;padding:0 4px;border-radius:5px 0 0 5px;background:#d83d3d}
.pro-info .pro-tag span em{float:left;padding:0 4px;height:16px;border:1px solid #d83d3d;border-radius:0 5px 5px 0;color:#7e0001}
.pro-medal{float:right;width:160px}
.pro-medal span{float:left;width:38px;height:44px;border:1px solid #fbfaf9;text-indent:-999em;cursor:pointer}
.pro-medal .gold{background-position:5px -128px}
.pro-medal .silver{background-position:-35px -128px}
.pro-medal .copper{background-position:-75px -128px}
.pro-medal .other{background-position:-110px -128px}
.pro-medal .hover{position:relative;z-index:100;width:38px;height:44px;border-color:#e6e1db #e6e1db #fff #e6e1db;border-style:solid;border-width:1px;background-color:#fff}
.pro-content{position:absolute;display:none;padding:15px;width:428px;height:auto;border:1px solid #e6e1db;background:#fff;text-indent:0}
.pro-content li{float:left;padding-bottom:5px;width:428px}
.pro-content li span{display:block;margin-left:28px;width:400px;height:auto;color:#625144;line-height:18px}
.pro-content li em{float:left;width:18px;height:18px}
.pro-content .gold-icon{background-position:-155px -132px}
.pro-content .silver-icon{background-position:-155px -152px}
.pro-content .copper-icon{background-position:-155px -172px}

/*商品评分*/
.comment-score{float:left;width:180px;height:20px}
.comment-score dt{float:left;margin:0;padding:0;width:60px;color:#999;line-height:20px}
.comment-score dd{margin-left:65px}
.m-ratescore{display:inline-block;margin:0;padding:0;width:110px;height:20px;background-position:-50px -87px}
.m-ratescore i{display:block;overflow:hidden;margin:0;padding:0;height:20px;background-position:-50px -107px;text-indent:-10000px}

/*商品评论，搭配菜肴，售出数*/
.pro-data{float:left;height:20px;line-height:20px}
.pro-data span{float:left;margin-right:25px;color:#999}
.pro-data span em{padding-left:5px;color:#09c}
.pro-data span a{padding-left:5px;color:#09c}

/*商品获奖ICON*/
.pro-icon{display:block;padding:8px;height:24px;background:#ffffe7;}
.pro-icon b{margin-right:5px;width:24px;height:24px;display:inline-block;background:url(images/new-icon.png?v=20150309) no-repeat;background-position:-87px -90px}
.pro-icon b.old-icon{background:url(../images/goodslist/old-icon.png) no-repeat;background-position:0 0}
.pro-icon b.gold-icon{background-position:0 -90px}
.pro-icon b.silver-icon{background-position:-29px -90px}
.pro-icon b.copper-icon{background-position:-58px -90px}
.pro-icon b.direct-icon{background-position:-116px -90px}
.pro-icon b.free-icon{background-position:-146px -90px}

/*全球直采*/
.pro-txt{float:left;padding-left:25px;height:20px;background-position:-188px -89px;color:#937966;line-height:20px}

/*商品价格信息*/
.promotionMiddleCenter{display:table;width:560px;*padding-bottom:14px}
.promotionMiddleCenter li{float:left;color:#999;line-height:36px}
.promotionMiddleCenter li.w560{width:560px}
.promotionMiddleCenter li .myPrice,.promotionMiddleCenter li .ymPrice,.promotionMiddleCenter li .hkPrice,.promotionMiddleCenter li .hmPrice{margin:0 30px 0 2px;color:#c00;font-weight:normal;line-height:30px}
.promotionMiddleCenter li .currentFont{margin-right:10px;font-weight:normal;line-height:30px}
.promotionMiddleCenter li .ymPrice,.promotionMiddleCenter li .hmPrice{color:#999}
.promotionMiddleCenter li .red{color:#c00}
.promotionMiddleCenter li .myPrice em,.promotionMiddleCenter li .hkPrice em{font-weight:normal;font-size:36px}
.promotionMiddleCenter li .ymPrice em,.promotionMiddleCenter li .hmPrice em{font-weight:normal;font-size:20px}
.promotionMiddleCenter li .currentFont em{font-weight:normal;font-size:36px}
.promotionMiddleCenter li .vipPrice{overflow:hidden;margin-top:15px;height:50px;border-top:1px solid #e6e1db;border-bottom:1px solid #e6e1db;border-left:1px solid #e6e1db;line-height:30px}
.promotionMiddleCenter li .vipPrice p{float:left;padding:0 25px;height:50px;border-right:1px solid #e6e1db;background:#fff;color:#927966;text-align:center;line-height:50px}
.promotionMiddleCenter li .vipPrice p em{margin:0 3px;color:#666;font-weight:bold;font-size:16px}
.promotionMiddleCenter li .vipPrice p i{color:#999}
.promotionMiddleCenter li .vipPrice p span{color:#090}
.promotionMiddleCenter li .vipPrice p b{margin:0 3px;color:#090;font-weight:bold;font-size:16px}
.promotionMiddleCenter li .rate{float:right;margin-top:5px;*padding-top:5px}
.promotionMiddleCenter li .rate font{margin-right:10px;color:#957a67;font-size:12px}
.promotionMiddleCenter li .rate a{color:#09c}
.promotionMiddleCenter li.explain{position:relative;z-index:8}
.promotionMiddleCenter li.explain span{float:left}
.promotionMiddleCenter li.explain s{float:left;display:none;margin-top:14px;width:20px;height:15px;background-position:-165px -232px;text-indent:-999em;cursor:pointer;*margin-top:20px}
.promotionMiddleCenter li.explain .explain-pop{position:absolute;top:48px;display:none;padding:10px 15px;width:278px;border:1px solid #dadada;background:#f7f7f7;box-shadow:0 2px 10px rgba(0,0,0,0.4)}
.promotionMiddleCenter li.explain .explain-pop h3{color:#c00;line-height:30px}
.promotionMiddleCenter li.explain .explain-pop p{color:#333;line-height:25px}
.promotionMiddleCenter li.explain .explain-pop b{position:absolute;top:-12px;left:20px;width:0;height:0;border-right:8px solid transparent;border-bottom:12px solid #f7f7f7;border-left:8px solid transparent;*border-bottom:12px solid #f1f1f1}
.promotionMiddleCenter li b.backPrice{display:inline-block;padding:0 5px 0 18px;border-radius:8px;background:url(images/icon.png) -180px -244px no-repeat #d73c3c;color:#fff;font-weight:normal;line-height:18px}

/*赠品*/
.promotionMiddleGift{display:table;margin-bottom:20px;width:560px;height:auto}
.promotionMiddleGift_hover{margin-bottom:0;height:50px}
.promotionMiddleGift dl{width:560px}
.promotionMiddleGift dl dt{float:left;width:60px;height:18px;color:#999;line-height:18px}
.promotionMiddleGift dl dd{overflow:hidden;margin-left:65px;width:495px;color:#957a67;line-height:18px;_margin-left:0;_float:right}
.promotionMiddleGift .cx_dl{position:relative;z-index:10;padding:5px 0;height:18px}
.promotionMiddleGift .cx_dl dd{overflow:hidden;overflow:hidden;margin-left:65px;width:495px;height:18px;color:#957a67;line-height:18px;_margin-left:0;_float:right}
.promotionMiddleGift dl dd b{display:inline-block;width:60px;height:18px;text-align:center;background:#d73c3c;color:#fff;font-weight:normal;vertical-align:top;border-radius:4px}
.promotionMiddleGift dl dd em{display:inline-block;width: 350px}
.promotionMiddleGift dl dd a{margin-left:20px;color:#09c}
.promotionMiddleGift dl dd p{float:left;overflow:hidden;width:220px}
.promotionMiddleGift dl dd p span{float:left;margin-bottom:5px;width:230px}
.promotionMiddleGift dl dd p span a{float:left;margin:0}
.promotionMiddleGift dl dd p span .gift-pic{display:block;width:40px;height:40px;border:1px solid #e6e1db;background:#fff}
.promotionMiddleGift dl dd p span .gift-pic img{display:block;margin:0 auto;height:38px}
.promotionMiddleGift dl dd p span .gift-name{margin:5px 0 0 10px;width:168px}
.promotionMiddleGift dl dd p span .gift-act{float:left;margin:0 0 0 10px;width:168px;color:#999}
.promotionMiddleGift dl dd p span .gift-act i{color:#c00;font-style:normal}
.promotionMiddleGift dl dd .or{float:left;margin:5px 5px 0;color:#999}
.promotionMiddleGift dl dd div{padding:0}
.promotionMiddleGift dl dd .cx_m{position:absolute;top:5px;right:5px;display:block;padding-right:15px;color:#09c;cursor:pointer}
.promotionMiddleGift dl dd .cx_m i{position:absolute;top:6px;right:0;display:inline-block;padding:0;width:0;height:0;border:6px solid #fbfaf9;border-top-color:#09c}
.promotionMiddleGift dl dd.cx_m_hover{position:absolute;top:0;right:0;z-index:10;padding:5px 0;height:auto;border:1px solid #fe9238;background-color:#ffffe8}
.promotionMiddleGift dl dd.cx_m_hover .cx_m{top:5px}
.promotionMiddleGift dl dd.cx_m_hover .cx_m i{top:0;border:6px solid #ffffe8;border-bottom-color:#09c}
.promotionMiddleGift dl dd.cx_m_hover div{padding:0 0 5px 5px}



/*自营商品服务*/  
.promotionMiddleProprietary_Serv{ width:560px;height:60px; display:block; border-top:1px solid #e6e1db}
.promotionMiddleProprietary_Serv a,.promotionMiddleProprietary_Serv span{ width:120px; height:30px; display:inline-block; margin-top:21px; font-size:14px; color:#927966}
.promotionMiddleProprietary_Serv a:hover{color:#09c;}
.promotionMiddleProprietary_Serv label{ width:29px; height:30px; display:inline-block;background:url(images/promotionMiddleIcon.png) no-repeat; float:left; margin-top:-5px; margin-right:5px;}
.promotionMiddleProprietary_Serv .service1 {background-position:0px 0px;}
.promotionMiddleProprietary_Serv .service2 {background-position:-28px 0px;width:32px;}
.promotionMiddleProprietary_Serv .service3 {background-position:-60px 0px;}

/*商品订购区域*/
.promotionMiddleKeyC{display:table;width:560px;height:auto;background:#ffffe8}
.promotionMiddleKeyC .goods{display:none}
.promotionMiddleKeyC .others{display:none}
.promotionMiddleKeyD{z-index:8;padding:20px;width:518px;height:auto;border:1px dashed #fec083}
.promotionMiddleKeyD:after{clear:both;display:block;visibility:hidden;height:0;content:"."}
.promotionMiddleKeyN ul li:after,.promotionMiddleKeyD ul li:after{clear:both;display:block;visibility:hidden;height:0;content:"."}
.promotionMiddleKeyD ul li{z-index:5;display:block;padding:3px 0;height:auto;line-height:26px}
.promotionMiddleKeyD ul li span{float:left;width:60px}
.promotionMiddleKeyD ul li ins{color:#c00;text-decoration:none}
.promotionMiddleKeyD ul li span{float:left;width:60px}
.promotionMiddleKeyD ul li span.cityBnt{position:relative;float:left;display:block;overflow:hidden;padding:0 5px;width:80px;height:24px;border:1px solid #ccc;background:#fff;line-height:24px;cursor:pointer}
.promotionMiddleKeyD ul li span.cityBntNone{border:1px solid #e6e1db;background:#ebebe8;color:#bdb0a2}
.cityBnt i,.cityBntOn i,.cityBntNone i{position:absolute;top:10px;left:74px;overflow:hidden;width:0;height:0;border-color:#999 #fff #fff;border-style:solid;border-width:6px}
.promotionMiddleKeyD ul li span.cityBntNone i{border-color:#bdb0a2 #ebebe8 #ebebe8}
.promotionMiddleKeyN ul li pre,.promotionMiddleKeyD ul li pre{float:left;padding-left:5px;color:#f00}
.promotionMiddleKeyN ul li ins,.promotionMiddleKeyD ul li ins{color:#bd0020;text-decoration:none}
.promotionMiddleKeyN ul li ins.have,.promotionMiddleKeyD ul li ins.have{padding-left:5px;color:#666}
.promotionMiddleKeyN ul li ins.have b,.promotionMiddleKeyD ul li ins.have b{padding-right:2px;color:#c00}
.promotionMiddleKeyN ul li ins.have i,.promotionMiddleKeyD ul li ins.have i{padding:0 2px;color:#c00;font-size:normal}
.promotionMiddleKeyD ul li ins.date{padding-left:30px;color:#c00}
#years-list{_position:relative}

/*下架商品*/
.proShelf{ color: #CC0000;font: bold 16px/30px 宋体;text-align: left;padding:80px 20px;}

/*城市弹框*/
.proCity{position:static;z-index:1001;clear:both}
.proCityList{position:absolute;top:30px;left:60px;z-index:1001;float:left;padding:5px 10px;width:280px;border:2px solid #f90;background:#ffffe8}
.proCityList dd{float:left;width:280px}
.proCityList dd p{float:left;display:inline;padding:3px;width:50px}
.proCityList dd p a{padding:5px;background:0;color:#36c}

/*商品选择年份*/
p.year {margin-left: 60px;overflow: hidden;}
p.year label {border: 1px solid #e6e1db;background:#FFFFFF;display: inline-block;float: left;margin-right: 5px;padding: 0 7px;position: relative;}
p.year label ins {display:none;background-position:0 -265px;font-size: 0;height: 11px;line-height: 0;overflow: hidden;position: absolute;right: 0;bottom:0;width: 11px;}
p.year label.on,p.year label:hover {border: 1px solid #BD0021;cursor: pointer;}
p.year label.on ins{display:block;}

/*商品数量选择*/
.promotionMiddleKeyN ul li a.left,.promotionMiddleKeyD ul li a.left{float:left;overflow:hidden;margin-top:5px;margin-right:5px;width:16px;height:16px;background-position:0 -232px}
.promotionMiddleKeyN ul li a.right,.promotionMiddleKeyD ul li a.right{float:left;overflow:hidden;margin-top:5px;margin-right:15px;margin-left:5px;width:16px;height:16px;background-position:-16px -232px}
.promotionMiddleKeyN ul li input,.promotionMiddleKeyD ul li input{float:left;margin-top:3px;padding:0 3px;width:35px;height:20px;border:1px solid #e6e1db;text-align:center;line-height:20px}
.promotionMiddleKeyN ul li a.btn-sta-rob,.promotionMiddleKeyD ul li a.btn-sta-rob{float:left;overflow:hidden;margin-right:10px;width:210px;height:44px;background-position:0 -368px}
.promotionMiddleKeyD ul{position:relative;z-index:6}
.promotionMiddleKeyD ul li span.num{width:350px;color:#666}
.promotionMiddleKeyD ul li span.num em{margin-right:25px;color:#d73c3c}
.promotionMiddleKeyD .h44{margin-top:10px;height:44px}
.promotionMiddleKeyD .act-countdown{float:right;padding-top:7px;width:240px;line-height:30px}
.promotionMiddleKeyD .act-countdown label{float:left;padding-left:20px;width:30px;height:30px;background-position:-185px -30px;color:#957a67}
.promotionMiddleKeyD .act-countdown .countdown{float:left;width:180px;color:#f60;font:bold 24px/30px 'arial'}
.promotionMiddleKeyD .act-countdown .countdown strong{font-weight:normal}
.promotionMiddleKeyD .act-countdown .countdown i{margin:0 2px;font-style:normal}
.promotionMiddleKeyD .act-countdown .countdown b{margin:0 -5px 0 2px;color:#999;vertical-align:middle;font-weight:normal;font-size:12px}

/*缺货状态*/
.promotionMiddleKeyS{display:table;width:560px;height:auto;background:#f0f0f0}
.promotionMiddleKeyS .promotionMiddleKeyD{padding:20px;width:518px;height:auto;border:1px dashed #dbdbdb}
.promotionMiddleKeyS .promotionMiddleKeyD:after{clear:both;display:block;visibility:hidden;height:0;content:"."}
.promotionMiddleKeyS .promotionMiddleKeyD ul li span.cityBnt{border:1px solid #e6e1db;background:#ebebe8;color:#bdb0a2}
.promotionMiddleKeyS .cityBnt i,.promotionMiddleKeyS .cityBntOn i,.promotionMiddleKeyS .cityBntNone i{border-color:#bdb0a2 #ebebe8 #ebebe8}
.promotionMiddleKeyS p.year label.on{border:1px solid #e6e1db;background:#ebebe8;color:#bdb0a2;cursor:pointer}
.promotionMiddleKeyS p.year label.on ins{display:none}
.promotionMiddleKeyS p.year label{border:1px solid #e6e1db;cursor:pointer}
.promotionMiddleKeyS ul li input,.promotionMiddleKeyS .promotionMiddleKeyD ul li input{border:1px solid #e6e1db;background:#ebebe8;color:#bdb0a2}
.promotionMiddleKeyS .goods{float:left;display:block;margin:7px 10px 0 0;width:78px;height:28px;border:1px solid #ddd;background:#fff;color:#09c;text-align:center;text-decoration:none;line-height:28px}
.promotionMiddleKeyS .others{float:left;display:block;margin:7px 10px 0 0;padding:0 10px;height:28px;border:1px solid #ddd;background:#fff;color:#c00;text-align:center;text-decoration:none;line-height:28px}
.promotionMiddleKeyS #years-list{display:none}
.promotionMiddleKeyS ul li span.num{display:none}
.promotionBottom{margin-top:15px;padding-left:15px;color:#957a67}
.promotionBottom .black{color:#646867}
.promotionBottom a.blue{color:#09c}
.promotionBottom b{margin-left:5px;color:#09c;font-weight:normal}

/*预定状态*/
.reserve .goods{display:none}
.reserve .others{display:none}

/*商品数量选择*/
.proGuarantee{overflow:hidden;margin:20px 0 30px 0;width:958px;height:68px;border:1px solid #dadada}
.proGuarantee ul{float:left;width:960px;height:68px}
.proGuarantee ul li{float:left;overflow:hidden;width:239px;height:68px;border-right:1px solid #dadada;background:#fff}
.proGuarantee ul li img{text-align:center}

/*大按钮*/
.btn-sta-rob,.btn-sta-seckill,.btn-sta-fast,.btn-end-rob,.btn-end-seckill,.btn-end-fast,.btn-over-rob,.btn-over-seckill,.btn-over-fast,.btn-sta-order,.btn-end-order,.btn-sellout,.btn-add-cart{float:left;overflow:hidden;margin-right:10px;width:210px;height:44px;background:url(images/icon.png) no-repeat}
a.btn-sta-rob{background-position:0 -368px}
a.btn-sta-seckill{background-position:0 -412px}
a.btn-sta-fast{background-position:0 -456px}
a.btn-end-rob{background-position:0 -500px}
a.btn-end-seckill{background-position:0 -544px}
a.btn-end-fast{background-position:0 -588px}
a.btn-over-rob{background-position:0 -632px}
a.btn-over-seckill{background-position:0 -676px}
a.btn-over-fast{background-position:0 -720px}
a.btn-sta-order{background-position:0 -802px}
a.btn-end-order{background-position:0 -846px}
a.btn-add-cart{background-position:0 -890px}
a.btn-sellout{background-position:0 -934px}
a:hover{opacity: 0.8;filter:aplha(opacity = 80)}

/*TAB菜单*/
.proDetails{width:960px;height:auto}
.proDetails h3{float:left;width:958px;height:38px;border-color:#e6e1db #e6e1db #74463a #e6e1db;border-style:solid;border-width:1px 1px 2px 1px;background:#f3f0ed}
.proDetails h3 a{float:left;padding:0 15px;width:110px;height:38px;background:url(images/line.gif) right center no-repeat;color:#74463a;text-align:center;text-decoration:none;font:14px/38px 宋体}
.proDetails h3 a.hover{float:left;padding:0 15px;height:38px;background-position:0 -764px;background-repeat:repeat-x;color:#fff;text-decoration:none;font:bold 14px/38px 宋体}
.proDetails h3 .add-cart{float:right;margin:6px 6px 0 0;width:102px;height:26px;border:0;background-position:-62px -232px;text-indent:-999em;cursor:pointer}
.proDetails h3 .btn-sta-rob,.proDetails h3 .btn-sta-seckill,.proDetails h3 .btn-sta-fast,.proDetails h3 .btn-end-rob,.proDetails h3 .btn-end-seckill,.proDetails h3 .btn-end-fast,.proDetails h3 .btn-over-rob,.proDetails h3 .btn-over-seckill,.proDetails h3 .btn-over-fast,.proDetails h3 .btn-sta-order,.proDetails h3 .btn-end-order,.proDetails h3 .btn-sellout,.proDetails h3 .btn-add-cart{display:none}
.proTab{position:relative;float:left}
.proTab-top{position:absolute;top:-30px;display:inline-block}
.fixed{position:fixed;top:0;left:50%;z-index:1001;margin-left:-480px}
.fixed{_position:absolute;_top:expression((noValue = document.documentElement.scrollTop ? document.documentElement.scrollTop:document.body.scrollTop)+'px')}
.proDetails div.nav{margin-top:10px;padding-bottom:5px;width:960px;border-bottom:1px solid #e6e1db}
.proDetails div.nav:after{clear:both;display:block;visibility:hidden;height:0;content:"."}
.proDetails div.nav a.hover{background:url("//img02.yesmywine.com/newWeb/images/product/sanjiaoIco.gif") no-repeat scroll 2px 10px transparent;color:#999}
.proDetails div.nav a{float:left;display:block;overflow:hidden;padding:0 10px;width:220px;height:28px;line-height:28px}

/*商品详情*/
.xiangqing{overflow:hidden;margin-bottom:15px;padding:15px 0;width:958px;border-right:1px solid #e6e1db;border-bottom:1px solid #e6e1db;border-left:1px solid #e6e1db;background:#fff}
.xiangqing ul{overflow:hidden;width:965px}
.xiangqing ul li{float:left;overflow:hidden;margin:0;padding:0 10px;width:220px;height:30px;background:url("images/xuxianY.gif") repeat-y scroll right center transparent;line-height:30px}
.xiangqing ul li span{display:block;overflow:hidden;margin-top:7px;padding-left:22px;height:16px;background:url("//img10.yesmywine.com/newWeb/images/product/xiangqingIco.png") no-repeat scroll 0 0 transparent;color:#666;line-height:16px}
.xiangqing ul li strong{display:inline-block;padding-right:10px}
.xiangqing ul li span b{display:inline-block;padding-right:10px}
.xiangqing ul li span.zonglei{background-position:0 0}
.xiangqing ul li span.pinzhong{background-position:-248px 0}
.xiangqing ul li span.changuo{background-position:-490px 0}
.xiangqing ul li span.chandi{background-position:-727px 0}
.xiangqing ul li span.jibie{height:18px;background-position:0 -24px}
.xiangqing ul li span.xiangmutong{background-position:-248px -27px}
.xiangqing ul li span.year{background-position:-490px -27px}
.xiangqing ul li span.pingsai{background-position:-724px -28px}
.xiangqing ul li span.sezhe{background-position:0 -56px}
.xiangqing ul li span.xiangwei{background-position:-248px -56px}
.xiangqing ul li span.jiuti{background-position:-489px -56px}
.xiangqing ul li span.kougan{background-position:-725px -56px}
.xiangqing ul li span.tangfen{background-position:0 -85px}
.xiangqing ul li span.jiujingdu{background-position:-248px -83px}
.xiangqing ul li span.rongliang{background-position:-490px -83px}
.xiangqing ul li span.time{background-position:-725px -84px}
.xiangqing ul li span.pincwendu{background-position:0 -109px}
.xiangqing ul li span.canghe{background-position:-248px -109px}
.xiangqing ul li span.caiyao{background-position:-490px -109px}
.xiangqing ul li span.pingjian{background-position:-725px -109px}
.xiangqing ul li span.jiousai{background-position:-2px -134px}

.proIntro{margin-bottom:15px;padding:15px 15px 15px 35px;width:908px;border:1px solid #e6e1db;background:url("/newWeb/images/product/icon.png") no-repeat scroll 10px 15px #fff;color:#666;line-height:22px}
.proIntro b{display:inline-block;padding-right:10px}
.proContent{overflow:hidden;margin-bottom:15px;width:958px;border:1px solid #e6e1db;background:#fff;color:#838383;font:12px/160% "Arial"}
.dis_video{float:left;display:inline;margin-bottom:29px;width:938px;height:505px;background:url("//img12.yesmywine.com/newWeb/images/discretion/video.jpg") no-repeat scroll center top transparent}
.proContent h3{overflow:hidden;margin:10px 0 19px;padding-left:20px;width:918px;height:29px;background:url("//img12.yesmywine.com/newWeb/images/discretion/titleBg.jpg") repeat-x scroll 0 0 transparent;color:#333;font-weight:bold;font-size:16px;line-height:29px}
.proContent h3.top{margin-top:10px}
.proDetails p:after{clear:both;display:block;visibility:hidden;height:0;content:"."}
.proDetails p img{display: block;}
.proDetails p img.left{float:left;padding:5px 10px}
.proDetails p img.right{float:right;padding:5px 10px}
.proDetails .proContent ul,.proDetails .proContent dl{margin-bottom:11px}
.proDetails .proContent ul:after,.proDetails .proContent dl:after{clear:both;display:block;visibility:hidden;height:0;content:"."}
.proDetails .proContent ul li{float:left;margin-top:0}
.proContent ul li.i{width:330px}
.proContent ul li.i img{width:330px;height:230px;border:medium none}
.proContent ul li.des{float:none;margin-left:330px;padding-left:15px;min-height:230px;color:#656569;font:12px/22px '宋体'}
.proContent ul li.des b{display:block;font-size:14px}
.proContent ul li.full{margin-left:0;min-height:0}
.proContent dl dt{float:left;margin:0;padding:0;width:330px}
.proContent dl dt img{width:330px;height:230px;border:medium none}
.proContent dl dd{margin-left:330px;padding-left:15px;min-height:230px;color:#656569;font:12px/22px '宋体'}
.proContent dl dd b{display:block;font-size:14px}
.proContent .pro_txt dl dt{width:350px}
.proContent .pro_txt dl dt img{width:350px;height:295px}
.proContent .pro_txt dl dd{float:none;margin-left:350px;min-height:295px}
.proContent fieldset{position:relative;margin:20px 19px 0;padding:30px 0 20px;border-color:#cc0e0e -moz-use-text-color -moz-use-text-color;border-style:solid none none;border-width:1px medium medium;border-right:medium none;border-image:none;color:#333;font-size:14px;font-family:微软雅黑;-moz-border-bottom-colors:none;-moz-border-left-colors:none;-moz-border-right-colors:none;-moz-border-top-colors:none}
.proContent fieldset .right{width:auto}
.proContent fieldset legend{position:absolute;top:-15px;left:30px;padding:0 10px;background-color:#fff;color:#cc0e0e;font-size:18px;line-height:30px}
.proContent fieldset p{line-height:24px}
.proContent fieldset p:after{display:none}
.proContent fieldset p em{color:#a3002f;font-weight:600;font-style:normal}
.proContent fieldset dl{margin-bottom:10px}
.proContent fieldset dl:after{clear:both;display:block;visibility:hidden;height:0;content:"."}
.proContent fieldset dt{float:left;overflow:hidden;margin:0;padding:0;width:150px}
.proContent fieldset dt img{width:150px;height:auto}
.proContent fieldset dd{margin:0 0 0 170px;padding:0;color:#333;font-size:14px;font-family:微软雅黑}
.proContent fieldset dd p{padding:0}
.proContent fieldset dl.l dt{width:360px}
.proContent fieldset dl.l dt img{width:360px}
.proContent fieldset dl.l dd{margin-left:380px}
.proContent fieldset dl.r dt{float:right;width:360px}
.proContent fieldset dl.r dt img{width:360px}
.proContent fieldset dl.r dd{margin-right:380px;margin-left:0}
.proContent fieldset p img,.proContent fieldset div img{margin:0 auto;padding:0;max-width:918px;border:medium none}
.proContent fieldset p.left{position:relative;padding:5px 0 5px 470px;min-height:240px}
.proContent fieldset p.left150{position:relative;padding:5px 0 5px 170px;min-height:100px}
.proContent fieldset p.left299{position:relative;padding:5px 0 5px 320px;min-height:180px}
.proContent fieldset p.right{position:relative;padding:5px 470px 5px 0;min-height:240px}
.proContent fieldset p.right150{position:relative;padding:5px 170px 5px 0;min-height:100px}
.proContent fieldset p.right299{position:relative;padding:5px 320px 5px 0;min-height:180px}
.proContent fieldset p.left img{position:absolute;top:0;left:0;display:block;width:449px;height:240px}
.proContent fieldset p.left150 img{position:absolute;top:0;left:0;display:block;width:150px;height:100px}
.proContent fieldset p.left299 img{position:absolute;top:0;left:0;display:block;width:299px;height:180px}
.proContent fieldset p.right img{position:absolute;top:0;right:0;display:block;width:449px;height:240px}
.proContent fieldset p.right150 img{position:absolute;top:0;right:0;display:block;width:150px;height:100px}
.proContent fieldset p.right299 img{position:absolute;top:0;right:0;display:block;width:299px;height:180px}
.proContent fieldset div.left,.proContent fieldset div.left150,.proContent fieldset div.left299,.proContent fieldset div.right,.proContent fieldset div.right150,.proContent fieldset div.right299{overflow:hidden;padding:5px 0}
.proContent fieldset div.left img{float:left;width:449px}
.proContent fieldset div.left150 img{float:left;width:150px}
.proContent fieldset div.left299 img{float:left;width:299px}
.proContent fieldset div.right img{float:right;width:449px}
.proContent fieldset div.right150 img{float:right;width:150px}
.proContent fieldset div.right299 img{float:right;width:299px}
.proContent fieldset div.left p{margin-left:470px}
.proContent fieldset div.left150 p{margin-left:170px}
.proContent fieldset div.left299 p{margin-left:320px}
.proContent fieldset div.right p{margin-right:470px}
.proContent fieldset div.right150 p{margin-right:170px}
.proContent fieldset div.right299 p{margin-right:320px}
.proContent fieldset .center,.proContent fieldset .col2,.proContent fieldset .col3{padding:5px 0}
.proContent fieldset .center img{display:block;margin:0 auto}
.proContent fieldset .col2 img,.proContent fieldset .col3 img{float:left;display:block;margin:0 1px 1px 0}
.proContent fieldset .col2 img{width:449px;height:240px}
.proContent fieldset .col3 img{width:299px;height:180px}
.proContent fieldset .col3 img.big{width:449px;height:240px}
.proContent fieldset embed{display:block;width:900px;height:360px}
.proContent fieldset .col2 embed{float:left;margin:0 5px 0 0;width:445px}
.proContent fieldset .col2:after,.proContent fieldset .col3:after,.proContent fieldset div.left:after,.proContent fieldset div.left150:after,.proContent fieldset div.left299:after,.proContent fieldset div.right:after,.proContent fieldset div.right150:after,.proContent fieldset div.right299:after{clear:both;display:block;visibility:hidden;height:0;content:"."}
.proContent fieldset .mt10{margin-top:10px}
.proContent fieldset .mt20{margin-top:20px}
.proContent fieldset .mb10{margin-bottom:10px}
.proContent fieldset .mb20{margin-bottom:20px}
.proContent fieldset .ti2{text-indent:2em}
.proContent fieldset .tac{text-align:center}
.proContent fieldset .tar{text-align:right}
.proContent .right{width:auto}

/*评论模块*/
.mod-comment-list{position:relative;margin-bottom:15px;width:958px;border:1px solid #e6e1db;background:#fff}
.mod-comment-list h3{float:none;height:38px;background:url(images/icon.png) repeat-x 0 -764px}
.mod-comment-list h3 strong{height:38px;border:0;background:0;color:#fff;line-height:38px}
.mod-comment-list .comment-tab{padding:0 10px;width:940px}
.mod-comment-list .comment-list{padding:0 10px}
.proDetails h3 a{height:38px}
.m-score-circle em.green{padding-left:10px;color:#558325}
.Consulting{margin:0 0 15px 0;width:958px;border:1px solid #e6e1db;background:#fff}
.Consulting h3{margin-bottom:10px;height:38px;background:0;background:url("images/icon.png") repeat-x scroll 0 -764px transparent}
.Consulting h3 a.hover{overflow:hidden;padding:0;background:0;color:#fff}
.Consulting h2{margin:0 10px;width:938px;height:34px;border-right:1px solid #ebd9c0;border-left:1px solid #ebd9c0;background:url("images/bg_comment.gif") repeat-x scroll 0 -278px transparent}
.Consulting h2 a{float:left;padding:0 15px;width:auto;height:34px;border-right:1px solid #ebd9c0;background:0;color:#333;font-size:12px;line-height:34px;cursor:pointer}
.Consulting h2 a.hover{margin:2px 0 0;padding:0 15px;height:32px;background:#fffdf7;color:#bd0021;font-weight:normal;font-size:12px}
.ConsultingDetail h3{float:left;overflow:hidden;width:86px;height:91px;border:0;background:url("//img12.yesmywine.com/newWeb/images/button/commentDetailHeadBg.gif") no-repeat scroll 0 0 transparent}
.ConsultingDetail h3 i{float:left;display:inline;margin:8px 19px 4px;width:48px;height:48px;background:url("//img12.yesmywine.com/wineshow/product_icon.gif") no-repeat scroll 0 0 transparent}
.ConsultingDetail{padding:0 10px;width:938px}
.ConsultingDetail ul{float:left;margin-left:8px;width:842px}
.ConsultingDetail ul li{float:left}
.plunPage{padding:0 10px 20px 10px;width:938px}
.m-list-page{margin-bottom:20px}

/*安心购物*/
.mod-ease{position:relative;float:left;margin:0 0 15px;width:958px;border:1px solid #e6e1db;background:#FFF}
.mod-ease h3{margin-bottom:10px;height:38px;background:url("images/icon.png") repeat-x 0 -764px}
.mod-ease h3 strong{width:110px;height:38px;color:#fff;text-align:center;font:bold 14px/38px 宋体}
.mod-ease .help_con{float:left;padding:0 9px 15px 9px;width:940px;height:auto}
.mod-ease .help_con_a{display:block;overflow:hidden;margin-bottom:10px;padding:60px 60px 0 60px;width:820px;height:490px;background:url(images/fw01.jpg) 0 0 no-repeat}
.help_con_a .con_a_left{float:left;margin-right:80px;width:370px;height:auto}
.help_con_a .con_a_left h3{margin:0 0 40px 0;padding:0;width:370px;border:0;background:0;color:#987327;font:28px/38px 'Microsoft Yahei'}
.help_con_a .con_a_left p{margin-bottom:30px;color:555;font:13px/22px 'Microsoft Yahei'}
.help_con_a .con_a_right{float:left;width:370px;height:auto}
.help_con_a .con_a_right p{margin-bottom:20px}
.mod-ease .help_con_b{display:block;overflow:hidden;margin-bottom:10px;padding:60px 60px 0 60px;width:820px;height:430px;background:url(images/fw02.jpg) 0 0 no-repeat}
.help_con_b .con_b_left{float:left;width:370px;height:auto}
.help_con_b .con_b_right{float:left;width:370px;height:auto}
.help_con_b .con_b_right h3{margin:0 0 40px 0;padding:0;width:370px;border:0;background:0;color:#987327;font:28px/38px 'Microsoft Yahei'}
.help_con_b .con_b_right p{margin-bottom:30px;color:555;font:13px/22px 'Microsoft Yahei'}
.mod-ease .help_con_c{display:block;overflow:hidden;margin-bottom:10px;padding:60px 60px 0 60px;width:820px;height:368px;background:url(images/fw03.jpg) 0 0 no-repeat}
.help_con_c .con_c_left{float:left;width:370px;height:auto}
.help_con_c .con_c_left .title{display:block;margin-bottom:15px;width:370px;text-align:center}
.con_c_left h3{float:none;margin:0;padding:0;width:370px;height:80px;border:0;background:0;color:#987327;font:28px/80px 'Microsoft Yahei'}
.con_c_left h3 em{font-size:100px}
.con_c_left h4{color:#987327;letter-spacing:8px;font:42px/60px 'Microsoft Yahei'}
.con_c_left h5{color:#333;font:18px/30px arial}
.help_con_c .con_c_left p{margin-bottom:30px;color:555;font:13px/22px 'Microsoft Yahei'}
.mod-ease .help_con_d{display:block;overflow:hidden;margin-bottom:10px;padding:60px 60px 0 60px;width:820px;height:720px;background:url(images/fw04.jpg) 0 0 no-repeat}
.help_con_d .con_d_left{float:left;width:370px;height:auto}
.help_con_d .con_d_right{float:left;width:450px;height:auto}
.help_con_d .con_d_right h3{float:none;margin:0 0 35px 0;padding:0;width:450px;border:0;background:0;color:#987327;font:28px/38px 'Microsoft Yahei'}
.help_con_d .con_d_right h4{margin-bottom:5px;color:#987327;font:16px/25px 'Microsoft Yahei'}
.help_con_d .con_d_right p{margin-bottom:20px;color:555;font:13px/22px 'Microsoft Yahei'}
.help_con_d .con_d_right p.mb10{margin-bottom:5px}

/*菜酒配*/
.mod-listname{position:relative;float:left;width:958px;border:1px solid #e6e1db;background:#fff}
.mod-listname .hd{padding:20px 10px}
.mod-listname .hd .cook{float:left;width:780px;height:42px;color:#666;line-height:42px}
.mod-listname .hd .cook span{padding:0 2px;color:#09c}
.mod-listname .hd .myCook{float:left;width:148px;height:38px;border:2px solid #fdb;background:url("images/bg_comment.gif") no-repeat 0 -92px;color:#fff;text-align:center;font-weight:bold;font-size:16px;line-height:38px}
.mod-listname .bd{padding:0 0 50px 8px;width:950px}
.mod-listname .bd ul li{position:relative;float:left;margin:0 10px 10px 0;padding:14px;width:150px;height:auto;border:1px solid #eae4dd;background:#fbfaf9}
.mod-listname .bd ul li .buy-btn{position:absolute;top:14px;left:0;display:block;padding-left:10px;width:70px;height:25px;background:url(images/icon.png) -64px -258px no-repeat;color:#fff;text-decoration:none;line-height:25px}
.mod-listname .bd ul li .pro-pic{display:block;overflow:hidden;margin-bottom:15px;width:150px;height:150px}
.mod-listname .bd ul li .pro-name{display:block;overflow:hidden;margin-bottom:10px;width:150px;height:20px}
.mod-listname .bd ul li .pro-name a{color:#c20a21;font-size:14px}
.mod-listname .bd ul li .pro-note{margin-bottom:10px;color:#666}
.mod-listname .bd ul li .pro-note .icon{float:left;margin-right:5px;width:15px;height:15px;background-position:0 -332px}
.mod-listname .bd ul li .pro-wine-num{margin-bottom:10px;color:#c20a21}
.mod-listname .bd ul li .pro-wine-num .icon{float:left;margin-right:5px;width:15px;height:15px;background-position:0 -350px}

/*商品推荐模块*/
.pd-recommend-buy{width:960px;height:auto}
.pd-recommend-buy h3{float:left;width:958px;height:38px;border-color:#e6e1db #e6e1db #74463a;border-style:solid;border-width:1px;background:#f3f0ed}
.pd-recommend-buy h3 a{float:left;padding:0 15px;height:38px;background:url("images/line.gif") no-repeat right center;color:#74463a;text-decoration:none;font:14px/38px 宋体}
.pd-recommend-buy h3 a.hover{float:left;background-position:0 -764px;background-repeat:repeat-x;color:#fff;text-decoration:none;font:14px/38px 宋体}
.goods-list{float:left;overflow:hidden;padding:10px 0 10px 9px;width:949px;border-color:#74463a #e6e1db #e6e1db #e6e1db;border-style:solid;border-width:1px;background:#fff}
.goods-list .piclist{width:950px}
ul.piclist li{margin-right:10px;width:178px;border:1px solid #dddbd2}
ul.piclist dl{width:178px}
.goods-list ul li>dl{border-radius:0;box-shadow:0 0 0 transparent}
.goods-list ul li dl{padding:0;border:0}
ul.piclist dd.base{padding:10px 6px}
ul.piclist dd.sum span{width:60px}
ul.piclist li.hover dd.slogan,ul.piclist li:hover dd.slogan{bottom:165px}
ul.piclist li.hover dd.action,ul.piclist li:hover dd.action{display:none}

/*右侧详情按钮*/
.scrollBackBox{width:22px}
.scrollBackBox h1{float:left;overflow:hidden;width:22px;height:22px;background:url("//img12.yesmywine.com/newWeb/images/button/proTop.gif") no-repeat scroll 0 0 transparent;text-indent:-9999px;cursor:pointer}
.scrollBackBox ul{float:left;padding:0 3px 3px;width:16px;background:none repeat scroll 0 0 #d4d4d4}
.scrollBackBox ul li{float:left;display:inline;margin-top:3px;width:16px;background:none repeat scroll 0 0 #fff;text-align:center}
.scrollBackBox ul li a{color:#999;font:12px/14px 宋体}
.scrollBackBox ul li a:hover{color:#f60;text-decoration:none}

/*到货通知*/
.t-subject-note{padding:15px;color:#333;line-height:24px}
.t-noteBox{padding:10px 0}
#t-mail-checkbox2{margin-right:5px;vertical-align:middle}
#t-mail-id2{width:200px;height:22px;border:1px solid #ccc;line-height:22px}
.t-subject-btn{display:block;margin:10px auto;width:80px;background:#bb0f2e;color:#fff;vertical-align:middle;text-align:center;white-space:nowrap;font-weight:400;font-size:14px;line-height:24px;cursor:pointer}
.t-subject-btn:hover{background:#9f001c;color:#fff}



/*告罄商品新增样式*/
.promotionSellout .promotionMiddleTop{border-bottom: none; margin-bottom: 10px;}
.promotionSellout .promotionMiddleTop .sellout-tip{height: 53px;width: 528px;border: 1px dashed #fec083; background: #ffffe8; line-height: 24px; color: #f70000; font-size: 16px; font-family: "宋体","Microsoft Yahei", "微软雅黑" ; padding: 25px 30px 5px;}
.promotionSellout .promotionMiddleLike{width: 556px; height: 480px; margin: 0 auto;border-bottom: 1px dashed #fec083;}
.promotionSellout .promotionMiddleLike h2{width:160px;font-size: 16px; color: #000;font-family: "宋体","Microsoft Yahei", "微软雅黑" ; font-weight: normal; text-indent: 30px; background: url("images/cai.png") no-repeat right 5px; margin-bottom: 10px;}
.promotionSellout .promotionMiddleLike .likeBorder{width: 553px; height: 428px;margin: 0 auto; border:1px solid #c7c7c7;}
.promotionSellout .listList{width: 535px; margin: 10px;position: relative;overflow: hidden}
.promotionSellout .scroller{width: 528px; height: 408px; margin: 0 auto;overflow: hidden}
.promotionSellout .scroller li{width: 162px; margin:7px; float: left; display: block;}
.promotionSellout .scroller li .prod-img{width: 160px; height: 266px; display: block; border:1px solid #c7c7c7;background: #fff; }
.promotionSellout .scroller li .prod-img img{margin:5px auto;display: block}
.promotionSellout .scroller li .prod-name{width: 160px; height: 80px; margin: 10px auto;}
.promotionSellout .scroller li .prod-name .prod-n{color: #4b4b4b; font-size: 16px; height: 28px; line-height: 25px; display: block; overflow: hidden}
.promotionSellout .scroller li .prod-name .prod-m{color: #8a8a8a; font-size: 16px; height: 46px; line-height: 22px; display: block; overflow: hidden}
.promotionSellout .prod-price{width: 160px; height: 30px;font-family: "宋体","Microsoft Yahei", "微软雅黑"}
.promotionSellout .prod-price em{font-size: 16px; height: 30px; line-height: 30px; display: block; float: left; color: #8a8a8a;}
.promotionSellout .prod-price strong{font-size: 22px;color: #cc0000; height: 30px; line-height: 28px; display: block; float: left}
.promotionSellout .prod-price .prod-l{width: 30px; float: right; text-align: left;height: 30px; line-height: 30px; display: block; font-size: 20px;color: #acacac;font-weight: bold}

.promotionSellout .prev, .promotionSellout .next {position: absolute;top: 50%;display: block;margin-top: -90px;width: 17px;height: 52px;cursor: pointer;z-index: 9;border:1px solid #c7c7c7;background: #fff;line-height: 50px; text-align: center}
.promotionSellout .next{margin-left: 515px;}






#sameNameSellOut{
	display:block;
}
span.selloutSpan{ 
float: none; 
width: 60px;height: auto; 
border: 1px solid dimgrey;background: grey; 
text-align:center; 
margin-left: auto;margin-right: 4px; 
color: white;font-weight: bolder; 
cursor: default; 
display: inline-block;
} 
span.chooseSpan{ 
float: left; 
width: 60px;height: auto; 
border: 1px solid red;background: orangered; 
text-align:center; 
margin-left: auto;margin-right: 4px; 
color: white;font-weight: bolder; 
cursor: default; 
} 
span.nochooseSpan{ 
float: left; 
width: 60px;height: auto; 
border: 1px solid red; 
text-align:center; 
margin-left: auto;margin-right: 4px; 
color: #1B1B1B;font-weight: bold; 
}










