.login{overflow:hidden;margin:0 auto;padding:20px 0;width:1200px;height:auto}
.confirmClauseError{margin-top:10px}
.mod-login div{
	display: inline-block;
	background: transparent url("images/icon_error.gif") no-repeat scroll 0px 3px;
	color:Red;
	font-size:12px;
	margin-left:5px;
	padding-left:16px;
}

input:focus{ border:1px solid orange;outline:none; background:#FFFFE8 }

.hidden{display:none!important;}


/* box-frame */
.box-frame{overflow:hidden}
.bd-red{border:1px solid #f00}
.bd-default{border:solid 1px #d2d2ce}

/* register_head */
#register_head{overflow:hidden;border-bottom:2px solid #bc0e31}
#register_head .head_main{overflow:hidden;margin:0 auto;padding:20px 0;width:1200px;height:auto}
#register_head .head_main h2{float:left}
#register_head .head_main .right{float:right}

/* mod-login */
.mod-login{overflow:hidden;padding:20px 10px;width:378px;border:1px solid #d2d2ce;background:#f8f8f5}
.mod-login h2{margin:0 12px 18px 12px;padding-bottom:15px;border-bottom:1px solid #d2d2ce;text-align:left;font-size:14px}
.mod-login dl{padding:7px 0; overflow:hidden}
.mod-login dl.work_account{padding:2px 0;color:#666;text-align:center}
.mod-login dl.work_account a{padding:0 3px;color:#06c}
.mod-login dt{float:left;width:90px;height:38px;color:#363636;text-align:right;font-size:14px;line-height:38px}
.mod-login dd{margin-left:88px;line-height:20px;}
.mod-login dd span.error{display:inline-block;padding-left:16px;background:url(images/icon_error.gif) no-repeat 0 3px;color:#f00;line-height:20px}
.mod-login dd span.alert-warning{display:block;padding:10px;width:260px;line-height:22px;color:#c00;border:1px solid #ffb1a8;background: #f6ede8;}
.mod-login dd span.alert-warning a{color:#06c;}
.mod-login dd span.hidden{display:none}
.mod-login .btn{width: 100px;height: 40px;line-height:40px;display: inline-block;text-align:center;vertical-align:top;cursor: pointer; font-size:12px;}
.mod-login .btn-style{background: #e3e3e3;color:#fff; margin-bottom:2px;}
.mod-login .btn-style:hover{ text-decoration:underline}
.mod-login .txt-input{padding:0 5px;width:270px;height:38px;color:#666;font-size:12px;line-height:38px; float:left;}
.mod-login ins{ margin-top:3px; float:left;height:40px;line-height:40px; }
.mod-login .txt-validcode{width:165px;}
.mod-login .hint-user{background:#fff url(images/hint_logname2.gif) no-repeat 8px center}
#registerFrm .hint-user{background:#fff url(images/hint_logname2.gif) no-repeat 8px center}
.mod-login .hint-pass{background:#fff url(images/hint_password.gif) no-repeat 8px center}
.mod-login .hint-pass2{background:#fff url(images/hint_password2.gif) no-repeat 8px center}
.mod-login .hint-randcode{background:#fff url(images/hint_randcode.gif) no-repeat 8px center}
.mod-login .txt-rand{width:60px}
.mod-login .rand-img{margin-right:5px}
.mod-login .btn-refreshrand{color:#06c}
.mod-login .btn-login,.mod-login .btn-register{display:block;margin-right:0;margin-left:10px;width:355px;height:45px;line-height:45px;text-align:center;border:0;background:#bb0e30;color:#fff;font-weight:bold;font-size:16px;cursor:pointer}
.mod-login .partner{margin-left:80px;padding:10px 0;color:#999;_width:260px}
.mod-login .partner p{width:375px;line-height:32px}
.mod-login .partner p.dotline{margin-bottom:10px;border-bottom:dotted 1px #ccc}
.mod-login .partner p a{float:left;display:block;margin-right:5px;margin-bottom:5px}
.mod-login .partner p a.btn-login-alipay { width:96px; height:30px; background:url(images/btn_alipay.jpg) no-repeat; text-indent:-10000px; overflow:hidden; }
.mod-login .partner p a.btn-login-weibo { width:96px; height:30px; background:url(images/btn_weibo.jpg) no-repeat; text-indent:-10000px; overflow:hidden; }
.mod-login .partner p a.btn-login-cr { width:114px; height:25px; background:url(images/btn_62cr.png) no-repeat; text-indent:-10000px; overflow:hidden; }
.mod-login .clause span.error{display:block}
.mod-login .clause span.hidden{display:none}
.mod-login .clause a.blue{color:#06c}
#vipinfo{display:none;margin:5px 10px;padding:10px 10px;width:335px;border:solid 1px #eedaae;background:#ffffe8; height:auto; overflow:hidden;}
#vipinfo dt{float:left;width:65px;height:38px;color:#363636;text-align:right;font-size:14px;line-height:38px}
#vipinfo .txt-input{padding:0 5px;width:250px;height:36px;color:#666;font-size:12px;line-height:36px; float:left;}
#vipinfo dd{margin-left:66px;line-height:20px;}
#vipinfo p{padding:5px 0;color:#666}
#vipinfo p label{float:left;display:block;margin-left:2px;width:58px;height:26px;text-align:right;line-height:26px}
#vipinfo p label i{margin-right:5px;color:#f00;font-weight:bold;font-style:normal;font-family:Arial}
#vipinfo p input{float:left;margin-right:5px;padding:0 5px;width:188px;height:28px;line-height:28px}
#vipinfo .txt-randcode{width:98px}
#vipinfo p span{float:left}
#vipinfo p span.error{float:left;margin-top:2px;margin-left:60px;padding-left:18px;width:150px;height:18px;background:url(images/icon_error.gif) no-repeat 0 center;color:#f00;line-height:18px}
#vipinfo p span.randcode .error{margin-left:0}
#vipinfo p span.randcode{margin-right:5px;width:110px}
#vipinfo p span.randcode input{float:none;margin-right:0}
#vipinfo p span.randcode span{float:none}
#vipinfo p ins{float:left;display:block;width:85px;text-decoration:none;line-height:16px}
#vipinfo p ins img{margin-top:5px;width:85px;height:20px;cursor:pointer}
#vipinfo p .hint-passcode{background:#fff url(images/hint_passcode.gif) no-repeat 8px center}
#vipinfo p .hint-recommend{background:#fff url(images/hint_recommend.gif) no-repeat 8px center}

/* mod-login-note */
.mod-login-note{position:relative;overflow:hidden;width:790px;height:480px;background:url(images/register_ads.jpg) no-repeat}
.mod-login-note span{position:absolute;top:335px;left:60px;width:200px;height:20px;color:#636363;text-align:left;line-height:20px}
.mod-login-note span a{color:#636363;text-decoration:underline}
.mod-login-note span a:hover{color:#333;text-decoration:none}

/* mod-login-ads */
.mod-login-ads{float:right;overflow:hidden;width:325px;height:auto;text-align:center}

/* login-pop */
.login-pop {overflow: hidden}
.login-pop .header-simp,.login-pop .box-frame h1,.login-pop .mod-login-note,.login-pop .footer-s
imp,.login-pop .recommend{display: none}
.login-pop .content{padding:10px 0;width:100%}
.login-pop .box-frame{border:0}
.login-pop .mod-login{padding:0;border:none;background: #fff;}
.login-pop .mod-login dl{padding:5px 0}
.login-pop .mod-login dd span.error{display:block;margin-top:5px}
.login-pop .mod-login dd span.hidden{display:none}
.login-pop .mod-login .partner {margin-left: 10px; background:none}
.login-pop .mod-login .partner p{width:250px}
.login-pop .btn-refreshdynamicrand{display:inline-block;padding: 0 10px;background: #F45F03;color:#fff;height: 38px;line-height: 38px;width: 90px;text-align: center;}
.login-pop .info{float: right;padding: 1px 5px;background: #E3E3E3;color:#848484;height: 40px;line-height: 40px;width: 95px;text-align: center; font-size:12px;}
.info{float: right;padding: 1px 5px;background: #E3E3E3;color:#848484;height: 40px;line-height: 40px;width: 95px;text-align: center; font-size:12px;}
.showInfo{float: right;padding: 1px 5px;background: #E3E3E3;color:#848484;height: 40px;line-height: 40px;width: 95px;text-align: center; font-size:12px;}

/* register-pop */
.register-pop .header-simp,.register-pop .box-frame h1,.register-pop .mod-login-note,.register-pop .footer-simp,.register-pop .recommend{display: none}
.register-pop .content{padding:10px 0;width:100%}
.register-pop .box-frame{border:0}
.register-pop .mod-login dd span.error{display:block;margin-top:5px}
.register-pop .mod-login dd span.hidden{display:none}

/* VIP */
#vip{position:relative;display:inline-block;margin:8px 0 9px 88px;width:auto;height:14px;line-height:14px; margin-left:80px}
#vip input{position:absolute;top:0;left:0;width:14px;height:14px}
#vip span{position:absolute;top:0;left:17px;width:110px;height:14px;text-align:left;line-height:14px}
#vip a{position:absolute;top:0;left:135px;width:120px;height:14px;color:#06c;text-align:left;line-height:14px}
#vip2{position:relative;display:block;margin-left:88px;padding:8px 0 13px 0;width:290px;height:14px;line-height:14px}
#vip2 input{position:absolute;top:0;left:0;width:14px;height:14px}
#vip2 span.accept{position:absolute;top:0;left:17px;width:120px;height:14px;text-align:left;line-height:14px}
#vip2 span.error{position:absolute;top:20px;left:0;padding-left:16px;width:160px;height:18px;background:url(images/icon_error.gif) no-repeat 0 3px;color:#f00;text-align:left;line-height:18px}
#vip2 a{position:absolute;top:0;left:140px;width:130px;height:14px;color:#06c;text-align:left;line-height:14px}



 

.mod-login .partner p a.login-weixin{ 
	width: 48px;
    height: 48px;
    background: url(images/icons.png) no-repeat -103px -3px;
    text-indent: -10000px;
    overflow: hidden; 
}
.mod-login .partner p a.login-alipay{ 
	width: 48px;
    height: 48px;
    background: url(images/icons.png) no-repeat -50px -3px;
    text-indent: -10000px;
    overflow: hidden; 
}
.mod-login .partner p a.login-qq{ 
	width: 48px;
    height: 48px;
    background: url(images/icons.png) no-repeat 0 -3px;
    text-indent: -10000px;
    overflow: hidden; 
}
.mod-login .partner p a.login-weibo{ 
	width: 48px;
    height: 48px;
    background: url(images/icons.png) no-repeat -155px -3px;
    text-indent: -10000px;
    overflow: hidden; 
}